/*
 * Emigre web font kit 5205109a0ad82
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?SMrMR.html
 *
 * © 2012 Emigre, Inc
 */


@font-face {
    font-family: 'MrEavesModRRegular';
    src: url('mreavesmodr-071211005EmigreWebOnly.eot');
    src: url('mreavesmodr-071211005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mreavesmodr-071211005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

