/*
 * Emigre web font kit 520510999969e
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?SMrBk.html
 *
 * © 2012 Emigre, Inc
 */


@font-face {
    font-family: 'MrEavesSanAltBkRegular';
    src: url('mreavessanaltbk-071211002EmigreWebOnly.eot');
    src: url('mreavessanaltbk-071211002EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mreavessanaltbk-071211002EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

