/*
 * Emigre web font kit 52051099a233e
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?SMrBkI.html
 *
 * © 2012 Emigre, Inc
 */


@font-face {
    font-family: 'MrEavesSanBkIRegular';
    src: url('mreavessanbki-071211002EmigreWebOnly.eot');
    src: url('mreavessanbki-071211002EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mreavessanbki-071211002EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

